= render partial:"shared/header"
.sign_box.row
  .col-12.col-sm-10.col-md-6.mx-auto
    .sign_main.mx-auto
      %h2.sign_title 新規ユーザー登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .outside_field#upper
          .field
            .field__input
              -# .field__input__label
              = f.label :nickname, "ニックネーム"
            = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "input col-12", placeholder:"8文字以内"
          .field
            .field__input
              -# .field__input__label
              = f.label :email, "メールアドレス"
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input col-12"
          .field
            .field__input
              -# .field__input__label
              = f.label :password, "パスワード"
            = f.password_field :password, autocomplete: "new-password", class: "input col-12", placeholder:"7文字以上15文字以内"
          .field
            .field__input
              -# .field__input__label
              = f.label :password_confirmation, "パスワード再入力"
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "input col-12", placeholder:"打ち間違えのないように注意"
          .field
            = f.label :sex, "性別", class: "col-3 px-0"
            .col-12.text-center
              クリックで切り替えられます
            .col-12.text-center
              %span{style: 'color: blue'} 男性　
              ⇄　
              %span{style: 'color: red'} 女性
            -# :css
            -#   .toggle.sign { padding: 0}
            .row
              .mx-auto
                // 1.jsを使用する場合
                = f.check_box :sex, { :checked => "checked", id: "sign_up-toggle" }, "男性", "女性"
                // 2.直接hamlに記載する場合、ただし、リロードしないと正常に表示されない
                -# = f.check_box :sex, { :checked => "checked", "data-toggle" => "toggle", "data-on"=> "男性", "data-off"=> "女性", "data-offstyle"=> "danger", "data-width" => "150", "data-style" => "sign"}, "男性", "女性"

          .field.row
            = f.submit "新規登録", class:'btn btn-primary mx-auto submit_btn', style: "margin-top: 20px"
        .outside_field#lower
          .field
            .login_text.text-center
              アカウントをお持ちの方はこちら
          .field.row
            = link_to'ログイン', new_user_session_path, class: 'btn btn-success lower_btn mx-auto'
