= render partial:"shared/header"
= render partial:"shared/header_nav", locals: { user: @user }

.row
  .col-12.col-sm-10.col-lg-7.mx-auto
    .date_text.col-12.text-center
      %h4 前回の献血日
    .day_box.col-12.col-md-10.text-center.mx-auto
      - if @records.length == 0
        前回の履歴はありません
      - else
        = @prev_day.strftime("%Y年%m月%d日")
    .date_text.col-12.text-center
      %h4 次回の献血予定日
    .day_box.col-12.col-md-10.text-center.mx-auto
      = form_for @schedule do |f|
        %fieldset.fieldset
          = f.text_field :next_date, class: "col-10 text-center", placeholder: "クリックしてください", id: "schedule"
        .col-12.px-0.text-left.text-md-center
          ・変更する場合は上のフォームをクリック
        .col-12.px-0.text-left.text-md-center
          ・変更後は必ず下の「記録する」ボタンを押してください
        = f.submit "記録する", class: "btn btn-primary col-10 col-md-8", style: "margin-top: 10px"


    .date_text.col-12.text-center
      %h4 献血予定日まで
    .day_box.col-12.col-lg-10.text-center.mx-auto
      .row
        .difference_text.col-6.text-right
          残り
        - if @difference > 7
          .day_boxt--black.col-6.text-left
            = @difference
            日
        - elsif @difference <= 6 && @difference >= 4
          .day_box--blue.col-6.text-left
            = @difference
            日
        - else
          .day_box--red.col-6.text-left
            = @difference
            日