.index_box__field__date.row#date
  .index_box__field__date__title.col-12.col-lg-3.px-lg-0
    .index_box__field__date__title--upper.col-12.float-left.text-center.mx-auto.mx-lg-0
      献血日
    .index_box__field__date__title--lower.col-12.float-left.text-center.mx-auto.mx-lg-0
      献血方法
  -# .index_box__field__date__text.col-12.col-lg-3.px-lg-0.mx-lg-0.text-center
  -#   献血日
  .col-12.col-lg-6.px-lg-0
    - records.each.with_index(1) do |record, i|
      .index_box__field__date__result.col-4.text-center.float-left{class: "date_result#{i}"}
        .col-12{style: "padding: 0"}
          - if record.present?
            -# .upper_text
              -# = record.donation_day
            = link_to "#{record.donation_day}", edit_record_path(record), class: "upper_text day_text"
          - else record.present?
            = link_to "記録なし", "#", class: "upper_text none_text"
        .col-12{style: "padding: 0"}
          - if record.present?
            = record.inspection_method_i18n
          - else record.present?
            .none_text
              記録なし