%nav.navbar.navbar-expand-lg.navbar-light{style: 'background-color: #b7b7ff'}
  %span.navbar-brand.mb-0.h1
    %B
      %span
        %I{style: 'color: #ff0f87'}
          = user.nickname
    %B さんでログイン中です
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    -# %ul.navbar-nav.mr-auto
    %ul.navbar-nav
      %li.nav-item.active
        = link_to "Home画面へ", root_path, class: "nav-link nav-top"
      %li.nav-item.active
        = link_to "マイページ編集", root_path, class: "nav-link"
      %li.nav-item.active
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
        -# %a.nav-link{:href => "#"}
          Home画面へ
          -# %span.sr-only (current)
      %li.nav-item.dropdown
        -# %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
          ページリンク
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          -# = link_to "献血履歴", user_records_path(@user), class: "dropdown-item"
          = link_to "献血履歴", records_path, class: "dropdown-item"
          .dropdown-divider
          = link_to "献血実績", root_path, class: "dropdown-item"