.index_box.row
  .index_box__title.col-12
    %h4.text-center 血球計数検査

  // 日付の表記
  .col-12
    .index_box__field.col-12
      .index_box__field__date.row#date
        // 位置合わせ用のマージン
        .col-lg-3.col-0
        -# - @records.each.with_index(1) do |record, i|
        - records.each do |record|
          .index_box__field__date__result.col-4.col-lg-2.text-center
            - if record.present?
              = record.donation_day
            - else record.present?
              記録なし

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          赤血球数(RBC)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.RBC
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-8", "aria-expand" => "false", "data-target" => "#example-8", "data-toggle" => "collapse"} 詳細
        #example-8.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  - if user.sex == "男"
                    基準値(男性): 418〜560×10
                  - else
                    基準値(女性): 384〜504×10
                  %sup 4
                  &#047;μL
                .explanation.col-12.col-lg-6.float-right
                  赤血球は血液の主な細胞成分で、酸素を肺から各組織へ運ぶ働きを持っています。
        

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          ヘモグロビン量(Hb)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.Hb
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-9", "aria-expand" => "false", "data-target" => "#example-9", "data-toggle" => "collapse"} 詳細
        #example-9.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  - if user.sex == "男"
                    基準値(男性): 12.7〜17.0
                  - else
                    基準値(女性): 11.0〜14.8
                  g&#047;dL
                .explanation.col-12.col-lg-6.float-right
                  血液の赤い色は赤血球に含まれるヘモグロビン（血色素）によるもので、赤血球の働きの中心となっています。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          ヘマトクリット量(Ht)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.Ht
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-10", "aria-expand" => "false", "data-target" => "#example-10", "data-toggle" => "collapse"} 詳細
        #example-10.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  - if user.sex == "男"
                    基準値(男性): 38.8〜50.0
                  - else
                    基準値(女性): 34.6〜44.6
                  &#037;
                .explanation.col-12.col-lg-6.float-right
                  ヘマトクリット値は一定の血液量に対する赤血球の割合（容積）をパーセントで表したものです。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          平均赤血球容積(MCV)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.MCV
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-11", "aria-expand" => "false", "data-target" => "#example-11", "data-toggle" => "collapse"} 詳細
        #example-11.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 83.0〜99.5 fL
                .explanation.col-12.col-lg-6.float-right
                  赤血球1個の平均的容積、すなわち赤血球の大きさの指標となるもので、赤血球数とヘマトクリット値から算出したものです。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          平均赤血球ヘモグロビン量(MCH)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.MCH
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-12", "aria-expand" => "false", "data-target" => "#example-12", "data-toggle" => "collapse"} 詳細
        #example-12.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 26.8〜33.5 pg
                .explanation.col-12.col-lg-6.float-right
                  赤血球1個に含まれるヘモグロビン量を平均的に表したもので、赤血球数とヘモグロビン量から算出したものです。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          平均赤血球ヘモグロビン濃度(MCHC)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.MCHC
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-13", "aria-expand" => "false", "data-target" => "#example-13", "data-toggle" => "collapse"} 詳細
        #example-13.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 31.7〜35.2 %
                .explanation.col-12.col-lg-6.float-right
                  赤血球の一定容量に対するヘモグロビン量の比をパーセントで表したもので、ヘモグロビン量とヘマトクリット値から算出したものです。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          白血球数(WBC)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.WBC
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-14", "aria-expand" => "false", "data-target" => "#example-14", "data-toggle" => "collapse"} 詳細
        #example-14.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 38〜89×10
                  %sup 2
                  &#047;μL
                .explanation.col-12.col-lg-6.float-right
                  白血球は細菌などを貪食し、免疫情報を伝達し、さらに免疫能を発現して生体防御にかかわっています。細菌感染症があると一般に白血球数は増加しますが、ウイルス感染症の場合はかえって減少することもあります。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          血小板数(PLT)
        .col-12.col-lg-6
          - records.each do |record|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left
              - if record.present?
                = record.PLT
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-15", "aria-expand" => "false", "data-target" => "#example-15", "data-toggle" => "collapse"} 詳細
        #example-15.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 17.0〜36.5×10
                  %sup 4
                  &#047;μL
                .explanation.col-12.col-lg-6.float-right
                  血小板は出血を止めるための重要な働きを持ち、この値が極端に減少すると出血を起こしやすくなります。
