.index_box.row
  .index_box__title.col-12
    %h4.index_box__title__text.text-center 生化学検査

  // 日付の表記
  .col-12{style: "margin-bottom: 20px"}
    .index_box__field.col-12
      = render partial:"shared/donation_day", locals: { records: @records }

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          ALT(GPT)
        .col-12.col-lg-6
          - @records.each.with_index(1) do |record, i|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left{class: "result#{i}"}
              - if record.present?
                = record.ALT
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.detail_btn.btn.btn-warning.col-12.col-lg-12{"aria-controls" => "example-1", "aria-expand" => "false", "data-target" => "#example-1", "data-toggle" => "collapse"} 詳細
        #example-1.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 8〜49 IU/L
                .explanation.col-12.col-lg-6.float-right
                  肝臓に最も多く含まれる酵素です。肝細胞が破壊されると血液中に流れ出すので、急性肝炎で最も強く上昇し、慢性肝炎や脂肪肝（肥満）などでも上昇します。激しい運動の後に一過性の上昇がみられることがあります。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          γ-GTP
        .col-12.col-lg-6
          - @records.each.with_index(1) do |record, i|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left{class: "result#{i}"}
              - if record.present?
                = record.GTP
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-2", "aria-expand" => "false", "data-target" => "#example-2", "data-toggle" => "collapse"} 詳細
        #example-2.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 9〜68 IU/L
                .explanation.col-12.col-lg-6.float-right
                  肝、胆道、膵、腎などに多く含まれる酵素です。上昇する疾患は閉塞性黄疸、肝炎、アルコール性肝障害などです。病気がなくても長期飲酒者では上昇することが多く1ヶ月位禁酒するとある程度正常化します。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          総蛋白 TP
        .col-12.col-lg-6
          - @records.each.with_index(1) do |record, i|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left{class: "result#{i}"}
              - if record.present?
                = record.TP
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-3", "aria-expand" => "false", "data-target" => "#example-3", "data-toggle" => "collapse"} 詳細
        #example-3.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 6.6〜8.2 g/dL
                .explanation.col-12.col-lg-6.float-right
                  血清中には80種類以上の蛋白が含まれ、種々の機能を持ち、生命維持に大きな役割を果たします。その総量を総蛋白として測定します。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          アルブミン ALB
        .col-12.col-lg-6
          - @records.each.with_index(1) do |record, i|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left{class: "result#{i}"}
              - if record.present?
                = record.ALB
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-4", "aria-expand" => "false", "data-target" => "#example-4", "data-toggle" => "collapse"} 詳細
        #example-4.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 4.0〜5.1 g/dL
                .explanation.col-12.col-lg-6.float-right
                  血清蛋白の50％以上を占めるアルブミンは、病気などで栄養が悪くなると減少するため、健康診断のスクリーニングとして大きな意味があります。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          アルブミン対グロブリン比 A/G
        .col-12.col-lg-6
          - @records.each.with_index(1) do |record, i|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left{class: "result#{i}"}
              - if record.present?
                = record.AperG
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-5", "aria-expand" => "false", "data-target" => "#example-5", "data-toggle" => "collapse"} 詳細
        #example-5.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 1.3〜2.1
                .explanation.col-12.col-lg-6.float-right
                  血清蛋白はアルブミン（A）とグロブリン（G）に分けられ、その比率は健康な人では一定の範囲にありますが、病気によってはその比率が変化（主として減少）してきます。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          コレステロール CHOL
        .col-12.col-lg-6
          - @records.each.with_index(1) do |record, i|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left{class: "result#{i}"}
              - if record.present?
                = record.CHOL
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-6", "aria-expand" => "false", "data-target" => "#example-6", "data-toggle" => "collapse"} 詳細
        #example-6.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 140〜259 mg/dL
                .explanation.col-12.col-lg-6.float-right
                  血清脂質の一つで、一般に脂肪の多い食事を続けていると上昇します。また、肝臓などで作られ、肝、胆道、腎、甲状腺の病気でその値が上下することがあります。血清コレステロールが多くなると動脈硬化を起こしやすいとされています。

      .index_box__field__category.row.d-flex.align-items-center
        .index_box__field__category__title.col-12.col-lg-3
          グリコアルブミン GA
        .col-12.col-lg-6
          - @records.each.with_index(1) do |record, i|
            .index_box__field__category__result.col-4.text-center.my-1.my-lg-0.float-left{class: "result#{i}"}
              - if record.present?
                = record.GA
              - else
                記録なし
        // 位置合わせ用のマージン
        .col-none.col-lg-1
        // ドロップダウンのボタン
        .col-7.col-lg-2.mx-auto
          %button.btn.btn-warning.col-12.col-lg-12.mx-auto{"aria-controls" => "example-7", "aria-expand" => "false", "data-target" => "#example-7", "data-toggle" => "collapse"} 詳細
        #example-7.collapse.col-12.col-lg-10.mx-auto
          .col-12
            .card.card-body.row
              .col-12
                .standard.col-12.col-lg-6.float-left
                  基準値: 16.5%未満
                .explanation.col-12.col-lg-6.float-right
                  糖尿病の検査の一つです。過去2週間の血糖値が低い状態が続いていると低下し、高い状態が続いていると上昇します。糖尿病では基準値より上昇します。基準値範囲内でも15.6%以上の場合は注意が必要です。